th {
    color: #333;
    background-color: #009dff;
}

td{
    color: white;
    background-color: #555;
}

.fullReview{
    background-color: #009dff;
    padding: 4px;
    color: white;
    border-radius: 3px;
    border: #333;
    font-size: 1em;
    margin: 4px;
    text-align: center;
}
