/*Image css */
.center {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 2px;    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:none;
  }
.card {
    font-size: small;
    border-color: #555555;
    background-color: #009dff;
    margin-bottom: 10px;
    border-radius: 10px;
    ;

  }
.card-title {
    text-align: center;
    font-size: small;
    color: whitesmoke;
  }




