.h2-title{
    font-weight: 520;
    border-radius: 14px;
    padding: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: whitesmoke;
    float: center;
     
}

.badge{
    background-color: #009dff;
}

