.h2-title{
    font-weight: 520;
    background-color: darkgrey;
    border-radius: 14px;
    padding: 6px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.badge{
    background-color: black;
}

